@charset "UTF-8";
table.data-table{width:100% !important;}
.data-table{border:1px solid #bebcb7;width:100%;}
.data-table tr{background:#fff;}
.data-table .odd{background:#f9f9f9}
.data-table .even{background:#fcfcfc !important;}
.data-table td.last, .data-table th.last{border-right:0;}
.data-table tr.last th, .data-table tr.last td{border-bottom:0 !important;}
.data-table th{border-right:1px solid #bed327;padding:4px 8px;color:#0a263c;white-space:nowrap;}
.data-table th.wrap{white-space:normal;}
.data-table th a, .data-table th a:hover{color:#fff;}
.data-table td{padding:3px 8px;vertical-align:top;}
.data-table thead tr th{background:url(../images/data_table_th_bg.gif) repeat-x 0 100% #deec7d;}
.data-table tfoot{border-bottom:1px solid #d9dde3;width:100%;margin:0;background:#ffffff url('../images/bg_grand_total.png') no-repeat bottom right;}
.data-table tfoot tr.first{background:url(../images/base_mini_actions_bg.gif) 0 0 repeat-x;}
.data-table tfoot tr{background-color:#DEE5E8 !important;}
.data-table tfoot td{padding-top:1px;padding-bottom:1px;border-bottom:0;border-right:1px solid #d9dde3;}
.data-table tbody td{border-bottom:1px solid #d9dde3;border-right:1px solid #d9dde3;}
.data-table tbody.odd tr{background:#f8f7f5 !important;}
.data-table tbody.even tr{background:#f6f6f6 !important;}
.data-table tbody.odd tr td, .data-table tbody.even tr td{border-bottom:0;}
.data-table tbody.odd tr.border td, .data-table tbody.even tr.border td{border-bottom:1px solid #d9dde3;}
.data-table tbody td h5.title{margin:0;padding:0;font-size:1em;font-weight:bold;color:#2f2f2f;}
.data-table tbody td .option-label{font-weight:bold;font-style:italic;}
.data-table tbody td .option-value{padding-left:10px;}
.box-table td{padding:10px;}
.box-table tfoot td{padding-top:5px;padding-bottom:5px;}
.box-table select{width:100%;}
.shopping-cart{margin-bottom:0;}
.shopping-cart th, .shopping-cart td{padding-left:13px;padding-right:4px;}
.shopping-cart th .tax-flag{font-size:0.9em;font-weight:normal;display:block;}
.shopping-cart tr.error{background:#FDE6E0 !important;}
.shopping-cart .continue-shopping{float:left;}
td.attributes-col{line-height:1.4em;vertical-align:middle;}
td.attributes-col ul{margin:5px 0;font-size:.95em;}
td.attributes-col dt{margin-top:.5em;}
td.attributes-col dd ul{margin:0 0 5px 0;list-style:disc;}
td.attributes-col dd ul li{margin-left:15px;}
td.attributes-col h4.title{padding:0;margin:0;font-size:0.750em;color:#2f2f2f;width:100%;overflow:hidden;}
td.attributes-col h4.title a{font-weight:bold;}
td.attributes-col h5.delink{padding:0;margin:0;font-size:11px;width:100%;overflow:hidden;}
.cursorPointer{cursor:pointer !important;}
.shopping-cart-totals{margin-top:0;}
.shopping-cart-totals table{width:100%;margin:0;}
.shopping-cart-totals td{padding:0 2px;}
.shopping-cart-totals td span.price{padding-right:13px;}
.shopping-cart-totals tr.last td{}
.shopping-cart-totals tfoot td{font-size:14px;border:none!important;}
.shopping-cart-totals .checkout-types{padding:8px 15px 15px;}
.shopping-cart-totals .checkout-types li{clear:both;margin:10px 0;list-style:none;}
#shopping-cart-totals-table tr.grand-total td{height:51px;color:#32286c;vertical-align:middle;}
#shopping-cart-totals-table tr.grand-total td span.price{font-size:18px;}
#shopping-cart-table td{vertical-align:top;}
#shopping-cart-table{border:0;width:716px;}
#shopping-cart-table.data-table td.last, #shopping-cart-table.data-table th.last{border-right:1px solid #cacaca;}
#shopping-cart-table.data-table thead th{background-color:#efefef;background-image:none;color:#525151;font-size:12px;text-transform:uppercase;border:0;border-bottom:1px solid #ffffff;padding:8px 5px;}
#shopping-cart-table.data-table tbody td{background-color:#ffffff;border:0;border-top:1px solid #cacaca;}
#shopping-cart-table.data-table tr.first, #shopping-cart-table.data-table tr{border-left:1px solid #cacaca;}
#shopping-cart-table.data-table tr.last, #shopping-cart-table.data-table tr{border-bottom:1px solid #cacaca;}
#shopping-cart-table .form-button-alt{background-color:#ffffff;background-image:none;border:0;height:22px;padding:0;}
.form-button, .form-button-alt{overflow:visible;width:auto;border:0;padding:4px 10px;background:#264264;color:#ffffff;font:11px Helvetica, arial, sans-serif !important;cursor:pointer;text-align:center;vertical-align:middle;border-left:1px solid #928fac;border-right:1px solid #928fac;background:white url(../images/bg_button.png) repeat;}
.col-summary #shopping-cart-table.data-table td.last, .col-summary #shopping-cart-table.data-table th.last, .col-summary #shopping-cart-table.data-table tr.first, .col-summary #shopping-cart-table.data-table tr.last, .col-summary #shopping-cart-table.data-table tr{border:none;}
.col-summary #shopping-cart-table.data-table tfoot tr{background-color:none !important;}
.shopping-cart-collaterals{width:314px;padding:0;}
.shopping-cart-collaterals .boxs{margin-bottom:18px;padding:12px 15px;border:1px solid #D0CBC1;background:url(../images/base_mini_head_bg.gif) repeat-x #fff;}
.shopping-cart-collaterals .boxs .form-button{margin-left:5px;}
.shopping-cart-collaterals .discount-codes h4, .shopping-cart-collaterals .shipping-estimate h4{min-height:16px;color:#e26703;background-repeat:no-repeat;background-position:0 0;padding:1px 0 1px 0px;text-transform:uppercase;}
.shopping-cart-collaterals .shipping-estimate label.lbl_form{width:57px;display:inline-block}
.shopping-cart-collaterals .shipping-estimate .input-text{width:212px;}
.shopping-cart-collaterals .shipping-estimate select{width:220px;}
.shopping-cart-collaterals .upsell{width:42.5%;border:1px solid #cec3b6;padding:12px 15px;background:transparent;}
.shopping-cart-collaterals .upsell .product-image{float:left;width:75px;border:1px solid #d0cdc9;}
.shopping-cart-collaterals .upsell .product-shop{width:170px;margin-bottom:10px;}
.shopping-cart-collaterals .upsell .product-shop h5{font-size:1em;}
.grand_total{width:auto;margin-top:15px;border:1px solid #BEBCB7;background:#DEE5E8;font-size:1.3em !important;font-weight:bold;text-align:right;}
tr.grand_total td, p.grand_total{padding-top:5px;padding-bottom:5px;}
.checkout-progress{}
.checkout-progress td{float:left;padding:4px 6px;color:#abb5ba;font-weight:bold;}
.checkout-progress td.active, .checkout-progress td.shipping_active, .checkout-progress td.shipping_inactive, .checkout-progress td.payment_active, .checkout-progress td.payment_inactive, .checkout-progress td.receipt_active, .checkout-progress td.receipt_inactive{border-top-color:#e96200;color:#e96200;width:187px;height:52px;}
.checkout-progress td.shipping_active{background:url(../images/ecommerce/checkout_step_shipping_active.jpg) no-repeat;}
.checkout-progress td.shipping_inactive{background:url(../images/ecommerce/checkout_step_shipping_inactive.jpg) no-repeat;}
.checkout-progress td.payment_active{background:url(../images/ecommerce/checkout_step_payment_active.jpg) no-repeat;}
.checkout-progress td.payment_inactive{background:url(../images/ecommerce/checkout_step_payment_inactive.jpg) no-repeat;}
.checkout-progress td.receipt_active{background:url(../images/ecommerce/checkout_step_receipt_active.jpg) no-repeat;}
.checkout-progress td.receipt_inactive{background:url(../images/ecommerce/checkout_step_receipt_inactive.jpg) no-repeat;}
.checkout-progress td.steps_arrow{background:url(../images/ecommerce/checkout_step_arrow.jpg) no-repeat;width:37px;height:27px;margin-top:11px;}
