@charset "UTF-8";

h1, h2, h3, h4, h5, h6 {
	margin:0;
	padding:0;
}
h1 { font-size:26px; line-height:28px; font-weight:normal;}
h2 { font-size:22px; line-height:24px; font-weight:normal;}
h3 { font-size:20px; line-height:22px; font-weight:normal;}
h4 { font-size:16px; font-weight:normal;}
h5 { font-size:14px; font-weight:normal;}
h6 { font-size:13px; font-weight:normal;}
h7 { font-size:12px; font-weight:normal; line-height: 12px;}
h8 { font-size:11px; font-weight:normal; line-height: 10px;}

fieldset {padding-left:10px;padding-bottom:10px;border:1px solid #ccc;}
legend {font-family: Georgia, "Times New Roman", Times, serif;font-weight:bold;padding-bottom:5px;padding-left:2px;}


/*S:TOP BAR*/
header#up
{
    width: 100%;
    height: 90px;
    padding-top:50px;
}
#topholid { 
	font-family: Arial, Verdana, sans-serif;
	width: 100%; 
	background: #eee; 
	margin-bottom:0px; 
	padding:0 ; 
	margin: 0;
	border-bottom: 3px solid #cd0000;
	background: 0px -1350px black repeat-x;
	position:fixed;
	top:0px;
	left:0px;
	z-index: 99999;
	_position:absolute;
	_top:expression(eval(document.body.scrollTop));
	-moz-box-shadow: 0px 0px 10px #4f4f4f;
	-webkit-box-shadow: 0px 0px 10px #4f4f4f;
	box-shadow: 0px 0px 5px #4f4f4f;
	}
#topcontent { 
	width: 980px; margin:0;
	color: white;
	font: normal 12px tahoma;
	text-align: left;
}
#topcontent .topbar_menu {
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
	width:250px;
}
#topcontent .topbar_menu li {
	float: left;
	border-left: 1px solid #b50000;
}
#topcontent .topbar_menu li.auth {
	padding: 4px 14px;
}
#topcontent .topbar_menu li a {
	float: left;
	display: block;
	padding: 4px 14px;
	color: white;
	font-weight:bold;
	text-decoration: none;
}
#topcontent .topbar_menu li a:hover {
	text-decoration: underline;
}
#topcontent .search_hol {
	float: left;
	padding-left: 70px;
	padding-top: 3px;
}
.search-holsearch .input {
	margin:1px 0 0;
	padding:2px 1px 1px;
	vertical-align:middle;
	line-height: 14px;
	font-size: 14px;
	margin-left: 10px;
	border:0px;
	width: 250px;
	color: #666;
	clear: none;
	float: left;
}
#topcontent .search_hol form {
	border-radius: 5px;
	border: 1px solid white;
	background: white;
	width: 300px;
	height: 23px;
}#topcontent .search_hol .btun{
	width: 24px;
	height: 22px;
	background: url("./images/search.gif") no-repeat 99% 56%;
	float: right;
	border: 0;
	cursor: pointer;
}
#topcontent .search_hol .btun:hover {
	opacity: 0.50;
}
#topcontent .social_icon {
	float: right;
	padding: 7px 0 0 0;
	font-weight: bold;
	color: white;
	font-size: 11px;
}
#topcontent .social_icon span {
	float: left;
	padding-right: 10px;
	padding-top: 2px;
	
}

.topup {height: 40px;width: 410px;}
.topdown {height: 40px;width: 410px;}

ul#topnav {width:410px;list-style-type: none;margin-right:1em;}
ul#topnav li {display: inline;padding: 0 1px 0 10px;}
ul#topnav li a:link, ul#topnav li a:visited {text-decoration: none;color: #000;}
ul#topnav li a:hover, ul#topnav li a:active {text-decoration: underline;}

ul#topnavi {width:410px;margin: 0;padding: 10px 2px 23px 15.5em;list-style-type: none;text-align:right;}
ul#topnavi li {display: inline;padding: 0 1px 0 10px;text-shadow: 0 1px 1px rgba(0,0,0, .3);font-weight: bold;}
ul#topnavi li a:link, ul#topnav li a:visited {text-decoration: none;color: #000;}
ul#topnavi li a:hover, ul#topnav li a:active {text-decoration: underline;}

#headerMenu_b {font-size: 12px;color:black;margin: 0;padding: 0px 1em 0 16em;width: 410px;}
#headerMenu_b li {float: left;position: relative;list-style: none;}
/* main level link */
#headerMenu_b a {font-weight: bold;color: #000;text-decoration: none;display: block;padding:  1px 8px;margin: 0;text-shadow: 0 1px 1px rgba(0,0,0, .3);}
#headerMenu_b a:hover {background: #000;color: #fff;}
/* main level link hover */
#headerMenu_b .current a, #headerMenu_b li:hover > a {background: #666 url(../images/gradient.png) repeat-x 0 -40px;color: #444;border-top: solid 1px #f8f8f8;text-shadow: 0 1px 0 rgba(255,255,255, 1);}
/* sub levels link hover */
#headerMenu_b ul li:hover a, #headerMenu_b li:hover li a {background: none;border: none;color: #666;-webkit-box-shadow: none;-moz-box-shadow: none;}
#headerMenu_b ul a:hover {background: #0078ff url(../images/gradient.png) repeat-x 0 -100px !important;color: #fff !important;-webkit-border-radius: 0;-moz-border-radius: 0;text-shadow: 0 1px 1px rgba(0,0,0, .1);}
/* dropdown */
#headerMenu_b li:hover > ul {display: block;}
/* level 2 list */
#headerMenu_b ul {display: none;margin: 0;padding: 0;width: 185px;position: absolute;top: 35px;left: 0;background: #ddd url(../images/gradient.png) repeat-x 0 0;border: solid 1px #b4b4b4;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;-webkit-box-shadow: 0 1px 3px rgba(0,0,0, .3);-moz-box-shadow: 0 1px 3px rgba(0,0,0, .3);box-shadow: 0 1px 3px rgba(0,0,0, .3);}
#headerMenu_b ul li {float: none;margin: 0;padding: 0;}
#headerMenu_b ul a {font-weight: normal;text-shadow: 0 1px 0 #fff;}
/* level 3+ list */
#headerMenu_b ul ul {left: 181px;top: -3px;}
/* rounded corners of first and last link */
#headerMenu_b ul li:first-child > a {-webkit-border-top-left-radius: 9px;-moz-border-radius-topleft: 9px;-webkit-border-top-right-radius: 9px;-moz-border-radius-topright: 9px;}
#headerMenu_b ul li:last-child > a {-webkit-border-bottom-left-radius: 9px;-moz-border-radius-bottomleft: 9px;-webkit-border-bottom-right-radius: 9px;-moz-border-radius-bottomright: 9px;}
/* clearfix */
#headerMenu_b:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
#headerMenu_b {display: inline-block;}



/*E:TOP BAR*/


/* Custom Grids
---------------------------------------------------------------------*/
.kolom {display: block;float:left;}

.lebar1 {width: 180px;}
.lebar2 {width: 215px;}
.lebar3 {width: 585px;}

.widthcontent1 {width: 250px;}
.widthcontent2 {width: 230px;}
.widthcontent3 {width: 490px;}
.widthcontent4 {width: 485px;}
.widthcontent5 {width: 733px;}
.widthcontent6 {width: 723px;}

.widthcontent_custom_1 {width: 220px;padding-right:10px;}
.widthcontent_custom_2 {width: 240px;padding-right:10px;}
.widthcontent_custom_3 {width: 235px;}
.widthcontent_custom_4 {width: 230px;}
.widthcontent_custom_5 {width: 240px;text-align: left;}

.margin_mintop_8 	{margin-top:-8px !important;}

.margin_top_40 	{margin-top:40px !important;}
.margin_top_50 	{margin-top:50px !important;}
.margin_top_60 	{margin-top:60px !important;}

.padding_top_5 	{padding-top:5px !important;}
.padding_top_10	{padding-top:10px !important;}
.padding_top_15 {padding-top:15px !important;}
.padding_top_20 {padding-top:20px !important;}
.padding_top_40 {padding-top:40px !important;}
.padding_top_60 {padding-top:60px !important;}
.padding_top_80 {padding-top:80px !important;}

.padding_right_22 {padding-right:22px !important;}

.padding_left_5 {padding-left:5px !important;}
.padding_left_10 {padding-left:10px !important;}

.padding_bottom_5 {padding-bottom:5px !important;}
.padding_bottom_10 {padding-bottom:10px !important;}

.bl_grey {border-left:1px solid #cecece !important;}
.br_grey {border-right:1px solid #cecece !important;}
.bt_blue {border-top:1px solid #87CEFA !important;}

.pembatas1 {height: 85px;}



/* Tables
---------------------------------------------------------------------*/
table.style_1 td {
	border-bottom:0 none;
}
td.hb_1 {
	padding:3px 0;
}
td.hb_1 .author {
	font-size: 11px;
	color: gray;
}
td.hb_1 h5 {
	font:bold 12px Georgia, "Times New Roman", Times, serif;
	color:#96ff00;
	padding-bottom:3px;
}
td.hb_1 img.img1 {
	float: left;
	width: 60px;
	height: 60px;
	border: 1px solid #dbdbdb;
	padding:3px;
	margin-right: 10px;
}



/* News
---------------------------------------------------------------------*/
.hol_berita_1 {
	padding:0;
	margin:0;
	list-style:none;
}
.hol_berita_1 li {
	padding:3px 0px;
	font:normal 12px georgia,"times new roman",times,serif;
	line-height:17px;
	overflow:hidden;
}
.hol_berita_1 li .author, .date {
	font-size: 11px;
	color: gray;
}
.hol_berita_1 li img.img1 {
	float: left;
	width: 60px;
	height: 60px;
	border: 1px solid #dbdbdb;
	padding:3px;
	margin-right: 10px;
}
.hol_berita_1 li h5 {
	font:bold 12px Georgia, "Times New Roman", Times, serif;
	color:#96ff00;
	padding: 0px 0 3px 0;
}

.hol_berita_2 {
	list-style: none;
	padding: 0;
	margin: 0;
}
.hol_berita_2 li {
	padding: 3px 0;
	overflow:hidden;
}
.hol_berita_2 li h5 {
	font:bold 12px Georgia, "Times New Roman", Times, serif;
	padding: 0px 0 3px 0;
}
.hol_berita_2 li h6 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
	color: green;
	padding: 3px 0 0px 0;
	display: block;
	font-size: 12px;
}
.hol_berita_2 li img {
	float: left;
	width: 60px;
	height: 60px;
	border: 1px solid #dbdbdb;
	padding: 2px;	
	margin: 3px 5px 1px 0;	
}


/* Social Share
---------------------------------------------------------------------*/
#isiberita {
	height: auto !important;
	text-align: left;
	padding: 0 20px 20px 25px;
	margin: 0 0 10px 0;
	font-family:georgia,"times new roman",times,serif;
	font-size:12px;
	clear: both;
}
#isiberita .busear {float:right;font-family: arial,helvetica,sans-serif;font-size: 0.625em;display:-moz-inline-block;display:-moz-inline-box;display:inline-block;vertical-align:middle;line-height:10px;padding-top:5px}
#isiberita .sketsa {
	padding: 2px;	
	margin: 13px 15px 13px 0px;	
	border: 1px solid #ddc688;
	float: left;
	background-color: #fff;
	clear:left;
}
#isiberita .reporter {
	color: #e00;
}
#isiberita q {
	display:block;
	font-style:normal;
	quotes:"" "";
	background:url("../images/quote.png") no-repeat scroll 0 8px transparent;
	display:block;
	font-size:14px;
	min-height:22px;
	line-height:24px;
	padding:0 0 0 20px;
	color:#666;
	font-family:Georgia,"Times New Roman",Times,serif;
	margin:1em 0;
}
#isiberita .comment{
	font-family:Monaco,"Panic Sans","Lucida Console","Courier New",Courier,monospace,sans-serif;
	padding-left: 28px;
	background:url("../images/comment.png") no-repeat 8px 50%;
}
#isiberita .baca{
	font-family:Monaco,"Panic Sans","Lucida Console","Courier New",Courier,monospace,sans-serif;
	padding-left: 28px;
	background:url("../images/page.png") no-repeat 8px 50%;
}
.socialshare h2 { font-family: Tahoma, Arial, sans-serif; font-size: 13px; font-weight: bold; height: 30px; line-height: 30px; border-top: 2px solid #a3a3a3; border-bottom: 1px solid #e5e5e5; margin-bottom: 10px; }
.socialshare li.share { list-style:none;float: left; margin-right: 10px;  }




/* Custom Links
---------------------------------------------------------------------*/
#navlistnoline { margin-left: 0; margin-top: 5px; margin-bottom:0; padding-left: 0;}
#navlistnoline li { list-style: none;padding-left: 10px; background-image: url(../images/arrow02.jpg); background-repeat: no-repeat; background-position: 0 .6em;  padding-top:2px; padding-bottom: 2px; }
#navlistnoline a, #navlistnoline a:visited, #navlistnoline a:link  { color: #004276; text-decoration: none; font-family:Georgia, "Times New Roman", Times, serif;font-weight:bold;}
#navlistnoline a:hover	{ color:#B79C00; text-decoration: underline;}
#news { margin-bottom:8px; padding:5px; list-style: none;color:#555;border-top:1px solid #ccc;border-bottom:1px solid #ccc;background:#eee; }
#news li { padding-right: 5px;list-style: none; }
#news a, #news a:visited, #news a:link { text-decoration: none; font-family:Georgia, "Times New Roman", Times, serif;font-weight:bold;}
#kcss a {
    font-family:tahoma, verdana, arial;
    font-size:14px;
	color: #005790;
	text-decoration:none;
	font-weight:bold;
}
#kcss a:hover, #kcss a:focus, #kcss a:active {
	background-color:#FFD700;
	border-bottom:1px solid #329ECC;
}
#loading {
    padding: 10px;
    background: url(../images/index.gif) no-repeat;
}
.bb, .bb:visited, .bb:link {color: #B22222;font-size: 9px;line-height: 1.5em;padding-top:10px;}
.bb:hover {border-bottom:1px solid #329ECC;}
.l_blue_hol, .l_blue_hol a { color: #003366; text-decoration:none;}
.l_blue_hol a:hover { color: #000; border-bottom:1px solid #329ECC;}
.td_peraturan2 { vertical-align:top; background: #F1F5FA; border:1px solid #ddd; padding: 7px 5px 0px 5px;}
.td_peraturan1 { vertical-align:top; background: #FFFFFF; padding: 0px 5px 0px 5px;}




/* Custom Page title
---------------------------------------------------------------------*/
#judul {
    color:#FFF;
    font:bold 2.4em/26px 'Trebuchet MS',Trebuchet,Arial,sans-serif;
    text-shadow:1px 1px 3px #111;
}
#judul1
{
    color:#1DCCEF;
    font:bold 15px georgia,"times new roman",times,serif;
    text-shadow:1px 1px 3px #111;
}
#judul2
{
    font:bold 16px Georgia,"Times New Roman",Times,serif;
}
#judul3 {
    color:#009;
    font:bold 26px Georgia, "Times New Roman", Times, serif;
    line-height: 120%;
}
.beritaFotoJudul
{
    font-size:14px;
    font-weight:bold;
    color:#6600FF;
}
.beritaFotoJD
{
    font-size:16px;
    font-weight:bold;
    color:#006600;
    margin-bottom:5px;
}
.beritaFotoLink
{
	font-size:14px;
	font-weight:bold;
	color:#FF9900;
}
#page .subjudul
{
    font-style:normal;
    font-size:12px;
    line-height:2px;
    color:red;
    font-family:Georgia,"Times New Roman",Times,serif;
    font-style: italic;
    margin:1em 0;
}
#page .description
{
    display:block;
    font-style:normal;
    font-size:12px;
    line-height:15px;
    color:#999;
    font-family:Georgia,"Times New Roman",Times,serif;
    margin:1em 0;
}


/* Rating
---------------------------------------------------------------------*/
.votitaly-inline-rating {float:left;font-family: arial,helvetica,sans-serif;font-size: 10px;display:-moz-inline-block;display:-moz-inline-box;display:inline-block;vertical-align:middle;line-height:20px;}
.votitaly-box {margin-left:5px;vertical-align:middle;display:inline}
.votitaly-box img.loading{vertical-align:middle}
.votitaly-star-rating,
.votitaly-star-rating a:hover,
.votitaly-star-rating a:active,
.votitaly-star-rating .current-rating {background: url(../images/star.gif) left -1000px repeat-x;}
.votitaly-star-rating {position:relative;width:125px;height:25px;overflow:hidden;list-style:none;margin:0;padding:0;background-position: left top;}
.votitaly-star-rating li {display: inline;}
.votitaly-star-rating a,
.votitaly-star-rating .current-rating {position:absolute;top:0;left:0;text-indent:-1000em;height:25px;line-height:25px;outline:none;overflow:hidden;border: none;}
.votitaly-star-rating a:hover,
.votitaly-star-rating a:active {background-position: left bottom;}
.votitaly-star-rating a.one-star {width:20%;z-index:6;}
.votitaly-star-rating a.two-stars {width:40%;z-index:5;}
.votitaly-star-rating a.three-stars {width:60%;z-index:4;}
.votitaly-star-rating a.four-stars {width:80%;z-index:3;}
.votitaly-star-rating a.five-stars {width:100%;z-index:2;}
.votitaly-star-rating .current-rating {z-index:1;background-position: left center;}


/* Gallery
---------------------------------------------------------------------*/
#gallery {position:relative;height:269px;}
#gallery a {float:left;position:absolute;}
#gallery a img {border:none;}
#gallery a.show {z-index:500;}
#gallery .caption {z-index:600;background-color:#000;color:#ffffff;height:100px;width:100%;position:absolute;bottom:0;padding-left:3px;}
#gallery .caption .content {margin:8px;}
#gallery .caption .content h3 {margin:0;padding:0;color:#1DCCEF;}


/* Comment
---------------------------------------------------------------------*/
#detailFooter {border:3px solid #f6f6f6;margin:0px auto;margin-top:4px;margin-bottom:6px;}
#detailFooter {float:left;width:98%;margin-bottom:0px;}
#detailFooter #warta {padding:15px;padding-top:7px;margin-bottom:0px}
#blokWadah {
	border:1px solid #f7f7f7;
	/*border-width:0px 0px 0px 0px;*/
	padding:2px;
	padding-bottom:10px;
	background:#f7f7f7 url(../images/panel_kanan_bg.jpg) repeat-x -1px -1px;
	margin-top:0px;
}
#blokTitle {
	text-transform:uppercase;
	font-family: Arial, "trebuchet ms", Tahoma, Verdana;
	font-size:12px;
	padding:7px 2px 7px 23px;
	height:15px;
	color: #004276;
	font-weight: normal;
	overflow:hidden;
	border-bottom: 1px solid #eee  /*cccccc 71B09D eeedd8*/;
	letter-spacing: 1.5px;
	background: #FFFFFF url(../images/comment.jpg) no-repeat 5px 10px  /*f8f8f8 */;
}
#blokTitle {
	/*font-family: Arial Black, Arial, "trebuchet ms", Tahoma, Verdana;
	letter-spacing:-1px;
	font-size:12px;*/
	padding-top:7px;
	padding-bottom:7px;
	font-weight:normal;
}
#wartaKomen {
	font-size:11px;
	color:#666;
	padding:8px 6px 8px 6px;
	background:#f7f7f7 url(../images/panel_kanan_bg.jpg) repeat-x;
	border:1px solid #e7e7e7;
	margin-top:8px;
}
#wartaKomen #isiKomen {color: #777;margin: 6px 0 0;padding:0 0 2px;}
#wartaKomen #divLeft {width:100px;}
#wartaKomen .comment-avatar {float: left;margin: 0;padding: 0}
#wartaKomen .avatar-indent {padding-left: 60px}
#wartaKomen .comment-box {margin: 0;padding: 0; color: #999}
#wartaKomen .comment-anchor {color: #777; text-decoration: none; border: none}
#wartaKomen .comment-author {color: #3c452d;font: bold 1em Verdana, Arial, Sans-Serif;margin: 0;padding: 0}
#wartaKomen .comment-date {font-size: 10px;color: #999;margin: 0;padding: 0 0 0 12px;background: url(../images/jc_date.gif) no-repeat center left}
#wartaKomen .comment-title {color: #b01625;font: bold 1em Verdana, Arial, Sans-Serif;margin: 0;padding: 0}
#wartaKomen .comment-body {color: #777;margin: 6px 0 0;padding:0 0 2px}
#wartaKomen .comment-body img {padding: 0; border: 0 none}
#wartaKomen .comment-body .img {padding: 4px 0 !important; max-width: 500px}
#wartaKomen .comment-avatar img {width: 52px}
#wartaKomen .togglereplychild {text-align: right;margin-bottom: 5px;}
#wartaKomen .childcomments {display: none;}
#wartaKomen .commentdetails-child {margin: 2px 0;background: #EBFBFF;border: 1px solid #C6E1E8;padding: 8px 9px 17px;}
#wartaKomen .commentdetails-child .thecomment {border-top: 1px solid #C6E1E8;}
#wartaKomen .commentdetails-child2 {margin: 2px 0;background: #FFF2F2;border: 1px solid #EDD7DF;padding: 8px 9px;}
#wartaKomen .childclose {background-image: url(../images/komentar-tutup.gif);}
#wartaKomen .even, #wartaKomen .odd {background-image:none;color:#3c452d;margin-left:0px;margin-bottom:10px;padding:0;}
#wartaKomen .tgl {font-size:10px;}
#wartaKomen .tombol-komen{height:15px;float:right;}
#wartaKomen input, #wartaKomen textarea {
    font-size:12px;
    font-family:tahoma, verdana, arial;
    padding:2px 4px 2px 4px;
    margin:4px 0px 6px 0px;
    border:1px solid #ccc;
    color: #35526F
}
#wartaProfilTitle {
    font-weight:bold;
    font-size:11px;
    margin-bottom:8px;
    padding-bottom: 0px;
    color:#366;
}
#comments {margin: 0;padding: 0;width: 100%;text-align: left;text-decoration: none;text-transform: none;text-indent: 0}
#comments .comments-list {margin-left: 20px;height: 1%}
#comments .comments-lists {height: 1%}
#comments .even, #comments .odd {background-image: none;color: #3c452d; margin-left: 0px;margin-bottom: 10px;padding: 0}
#komentar .formkomentar {display: none;clear: both;}
#divClear {clear:both;overflow: hidden;}
#divLeft {float:left;padding:2px;}
.togglereply {background: url(../images/komentar-reply.gif) 0 0 no-repeat;padding-left: 20px;}
.togglechild {background: url(../images/komentar-buka.gif) 0 0 no-repeat;padding-left: 18px;}
.disclaimer {text-align:center;background-color:#ffe4e4;border:1px solid #cccccc;font-size:12px;font-weight:bold;padding:5px;width:75px;margin:5px;float:right;}


/* IndexBerita
---------------------------------------------------------------------*/
#panelIndex { margin:18px 6px 0px 7px; float:left; width:500px;}
#panelBerita { margin:18px 6px 0px 7px;	float:left;	width:290px;}
#panelBerita ol li { font-weight:normal; display:block; margin:0px 4px 6px -13px; color:#333; list-style: none;}
#panelBerita .jam {	color:#9e2b0c; padding-right:2px; font-size:11px;}
#panelBerita ul li { font-weight:normal; list-style:url(../images/bullet_arrow.gif) outside; margin:0px 4px 6px -13px;	color:#333;}
#panelBeritaBawah {	margin-top:6px; color:#127070; font-weight:bold;}
#panelBeritaBawah img {	border:1px solid #888; padding:2px; float:left; margin:0px 8px 6px 0px;}
#panelBeritaBawah ul li, #panelBeritaBawah ol li { clear:both; list-style:none;}
#panelRubrik { margin:16px 0px 0px 5px;	float:left;width:925px;}
#panelRubrik ol li { font-weight:normal; display:block; margin:0px 4px 6px -32px; color:#333; text-transform:capitalize;}
#panelRubrik .jam {	color:#599b9b; padding-right:8px; font-size:11px;}
#panelRubrik ul li { font-weight:normal; list-style:url(../images/dunia/bullet_arrow.gif) outside;	margin:0px 4px 6px -13px; color:#333; text-transform:capitalize;}
#panelTitle { text-transform:uppercase;	color:#000000 /* #9e2b0c */; font-weight:bold; font-size:16px; font-family:"helvetica",arial,verdana,sans-serif; padding: 0px 0px 0px 0px; border-bottom:1px solid #000000 /* #9e2b0c */; letter-spacing:-0.02em; height:22px;}
#panelTitleIndex { margin-top:6px; color:#599b9b; float:right; font-size:10px; font-weight:bold; text-transform:lowercase;}
#panellistnoline { margin-left: 0; margin-top: 5px; margin-bottom:0;  padding-left: 0;}
#panellistnoline li { list-style: none;padding-left: 10px; background-image: url(../images/arrow02.jpg); background-repeat: no-repeat; background-position: 0 .6em;  padding-top:2px; padding-bottom: 2px; }
#panellistnoline a, #panellistnoline a:visited, #panellistnoline a:link  { color: #005790; text-decoration: none; font-family:Georgia, "Times New Roman", Times, serif;;}
#panellistnoline a:hover { color:#B79C00; text-decoration: underline;}
#index_jam { float:left}
#index_berita { float:left;padding-left:5px; width:210px;margin-bottom: 5px;}
#index_panah { width:55px; float:left; margin-bottom:10px;}
#index_rubrik {	float:left;	margin-bottom:3px;}


/* Berita Terkait
---------------------------------------------------------------------*/
#related {
	clear:left;
	position: inherit;
	margin:0px 0px 0px 10px;
	float:left;
}
#relatednews {
	float:left;
	font-size:11px;
	margin:5px 8px 5px 0px;
	padding: 0px 0px 6px 0px;
}
#relatednews #berta {
	padding:4px 3px 5px 5px;
	text-transform: capitalize;
	color:#666666;
	font-size:10px;
	margin: 0px 0px 10px 0px;
	letter-spacing:0px;
}
#relatednews ul {
	margin-top:0px;
	color:#ccc;
	list-style: disc;
}
#relatednews a {
	color:#555 /*478DC0*/;
	text-decoration:none;
	font-weight:bold;
	letter-spacing:0px;
}
#relatednews li {
	border-bottom:1px dotted #eee;
	padding:5px 2px 5px 4px;
	margin-left:18px;
	margin-right:5px;
	line-height:13px;
}
#relatednews li:hover {
	background: #F8F8F8;
	color:#6b6b6b;
	list-style:circle;
}
#relatednews li a:hover, #relatednews li:hover a {
	color:#000;
	text-decoration: underline;
}


/* Pusat Data
---------------------------------------------------------------------*/
#peraturan a {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:13px;
	color: #005790;
	text-decoration:none;
}
#peraturan a:hover, #peraturan a:focus, #peraturan a:active {
	background-color:#FFD700;
	border-bottom:1px solid #329ECC;
}
#ppline	{ margin-left: 0; margin-top: 5px; margin-bottom:0;  padding-left: 30px;padding-right:10px; font-size: 12px;}
#ppline li { list-style: decimal;padding-top:2px; padding-bottom:2px; }
#ppline a, #ppline a:visited, #ppline a:link { color: #005790; text-decoration: none;}
#ppline a:hover	{ color:#B79C00; text-decoration: underline;}
#docline { margin-left: 0; margin-top: 5px; margin-bottom:0;  padding-left: 0; font-size: 12px;}
#docline li { list-style: none;padding-top:2px; padding-bottom:2px; }
#docline a, #docline a:visited, #docline a:link  { color: #005790; text-decoration: none;}
#docline a:hover { color:#B79C00; text-decoration: underline;}
#holdline { margin-left: 0; margin-top: 5px; margin-bottom:0;  padding-left: 0;}
#holdline li { list-style: none;padding-left: 25px; background-image: url(../images/folder.png); background-repeat: no-repeat; background-position: 0 .2em;  padding-top:2px; padding-bottom:2px; }
#holdline a, #holdline a:visited, #holdline a:link  { color: #005790; font-size: 12px; text-decoration: none;}
#holdline a:hover { color:#B79C00; text-decoration: underline;}
#dhline	{ margin-left: 0; margin-top: 5px; margin-bottom:0;  padding-left:20px;padding-right:10px; font-size: 12px;}
#dhline li { padding-top:2px; padding-bottom:2px; }
#dhline a, #dhline a:visited, #dhline a:link  { color: #005790; text-decoration: none;}
#dhline a:hover	{ color:#B79C00; text-decoration: underline;}
#nlrulenoline { margin-left: 0; margin-top: 5px; margin-bottom:0;  padding-left: 0;}
#nlrulenoline li { list-style: none;padding-left: 25px; background-image: url(../images/doc-s.png); background-repeat: no-repeat; background-position: 0 .6em;  padding-top:5px; padding-bottom: 5px; }
#nlrulenoline a, #nlrulenoline a:visited, #nlrulenoline a:link { color: #005790; font-size: 12px; text-decoration: none; font-weight:bold;}
#nlrulenoline a:hover { color:#B79C00; text-decoration: underline;}
.breadcrumbs { margin-bottom:8px;color:#999;font-size:.92em;}
.breadcrumbs li { display:inline;}
.breadcrumbs a { color:#999;}


/* Clinic
---------------------------------------------------------------------*/
.kp { width:74px;margin-right:12px;float:left;text-align:center;display:inline; }
.kp .kpa img { padding:5px; }
.kp .kpp { border:1px solid #ccc;background:#fff;padding:3px;overflow:hidden;zoom:1; }
.kp .user { width:74px;display:block;text-align:center;overflow:hidden;zoom:1; }



/* Custom Footers
---------------------------------------------------------------------*/
footer#down {
	background-color: #282828;
	width:100%;
	background:-webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.2, rgb(39,38,34)),
		color-stop(0.8, rgb(50,50,50))
	);
	background: -moz-linear-gradient(
		center bottom,
		rgb(39,38,34) 20%,
		rgb(50,50,50) 80%
	);
}
footer a {color: #FFF !important;}
footer dd {float: left;width: 100%;}
footer dd strong {float: left;clear: both;width: 100%;}
footer dd a { float: left;clear: both;width: 100%;}
footer a:hover {text-decoration: underline;}
footer strong {display: block;font-size: 17px;color: #666;margin: 0 0 10px;}
footer .col_1 {width: 100px;padding-left:20px;padding-right: 30px;font-size:15px;}
footer .phone {color: #666;font-size: 12px;padding-bottom:10px;}
footer .phone strong {padding-top: 2px;color: #FFF;font-size: 24px;margin: 0;}
footer .icon {
	background: url("../images/holnetwork.gif") no-repeat left center;
	width:300px;
	height:117px;
	float: right;
	display:block;
}
.footerMenu{font-size: 13px;color:white;}
.footerMenu a:link,
.footerMenu a:visited {font-weight: normal;color:white;}
.footerMenu ul , .footerMenu ul li {display: inline;}






.author
{
    font-size:9px;
    color:#808080;
}

.footnote, .footnote:active			{ color: #666666; font-size: 11px; font-family: verdana,arial,helvetica,sans-serif; margin-right: 3px; padding-bottom: 10px; text-decoration: none;}
.footnote:visited, .footnote:link	{ color: #6495ED; font-size: 11px; font-family: verdana,arial,helvetica,sans-serif; margin-right: 3px; padding-bottom: 10px; text-decoration: none;}
.footnote:hover						{ color: #B79C00; font-size: 11px; font-family: verdana,arial,helvetica,sans-serif; margin-left: 3px; margin-right: 3px; padding-bottom: 10px; text-decoration: underline;}

.kotakisi{padding:2px;}
.kotakisi .imagebuku{
	background-color: #fff;
	padding:1px;
	margin: 2px;
	float: left;
}
.kotakisi p{
	line-height: 1.2em;
}
.kotakisi .image{
	background-color: #fff;
	padding: 2px;
	margin: 13px 15px 13px 0px;
	border: 1px solid #e4d09b;
	float: left;
}
.kotakisi .fname{
	font-size: 11px;
}


#linkhref a {
	color: #333333;
	text-decoration:none;
}
#linkhref a:hover, #linkhref a:focus, #linkhref a:active {
	background-color:#FFD700;
	border-bottom:1px solid #329ECC;
}




.clean
{
    clear: both;
}

/* Font-Sizer Specific Styling */

.fsizer { } /* Container element */

.fsizer a { display: block; float: right; width: 20px; margin-right: 5px; text-align: center; color: #5761a0; text-decoration: none; cursor: pointer; letter-spacing: 0; line-height: 100%; }
.fsizer a:hover { text-decoration: underline; background: #ebebeb;  }

/* Three 'A' links used to control size */

.fsizer a#fs_sml { font-size: 9px; height: 15px; padding-top: 5px; }
.fsizer a#fs_med { font-size: 13px; height: 17px; padding-top: 3px; }
.fsizer a#fs_lrg { font-size: 16px; height: 18px; padding-top: 2px; }

.fsizer a.fsactive { color: #000; background: #ebebeb; cursor: default; } /* When mode is active */



.cart-price{padding-right:10px;}
.price{white-space:nowrap !important;}

.payment-methods dt{margin-left:20px;display:inline;}
.payment-methods dd{padding:5px 20px;}
.payment-methods select.month{width:146px !important;margin-right:10px;}
.payment-methods select.year{width:100px !important;}
.payment-methods input.cvv{width:3em !important;}

.form-list li{margin-bottom:6px;list-style: none;}
.form-list li .input-box .input-text, .form-list li .input-box textarea{width:250px;}
.form-list li .input-box select{width:256px;}
.form-list li.addElement{border-top:1px solid #DDD;padding-top:10px;}
dl.payment-methods fieldset.form-list{float:left;}

#bank_logo{width:469px;height:88px;display:table;vertical-align:middle;margin-bottom:10px;}
.bank_logo_radio,.bank_logo_image,.bank_logo_text{height:88px;display:table-cell;vertical-align:middle;}
.bank_logo_radio{padding-left:10px;}
.bank_logo_image{padding-left:10px;}
.bank_logo_text{font-size:12px;width:220px;padding-right:5px;}

.form-button{overflow:visible;width:auto;border:0;padding:4px 10px;background:#264264;color:#ffffff;font:11px Helvetica, arial, sans-serif !important;cursor:pointer;text-align:center;vertical-align:middle;border-left:1px solid #928fac;border-right:1px solid #928fac;background:white url(../images/bg_button.png) repeat;}

.aktual, .aktual:visited, .aktual:link  { color: #003366; text-decoration: none;}
.aktual:hover	{ color:#000; border-bottom:1px solid #329ECC;}

.akt, .akt:visited, .akt:link  { color: #000; text-decoration: none;}
.akt:hover	{ color:#000; border-bottom:1px solid #329ECC;}

.searchlink, .searchlink:visited, .searchlink:link  { font-size: 14px;color: #333333; text-decoration: none;}
.searchlink:hover	{ background-color:#E2EFFF; border-bottom:1px solid #329ECC;}

table.hstyle th,table.hstyle td {
	line-height:18px;
	padding:1px 1px 1px 0;
}
table.hstyle td,table.hstyle th {
	background:none !important;
}
table.hstyle caption {
	margin-bottom:0;
	text-align: left;
}

#rs { background-color: #F0FFED; border: 1px solid #215800; padding: 10px; margin-bottom: 20px; }

.copage {
	font-size: 0.750em;
	font-weight: normal;
	letter-spacing: 0px;
	color: #333333;
	padding-top:5px;
	padding-bottom:5px;
}

.copage a {
	color: #32326e;
	text-decoration: none;
}

.copage a:hover {
	color: #000000;
	text-decoration: underline;
}


.klinikterbaruisi{
    padding:5px;
    font-size: 13px;
}
.klinikterbaruisi .author{
	font-family: arial,helvetica,sans-serif;
	color: #808080;
	font-size: 10px;
	line-height: 1.5em;
	padding-bottom:10px;
}

.klinikbrowse, .klinikbrowse:visited, .klinikbrowse:link  { font-size: 12px;color: #333333; text-decoration: none;}
.klinikbrowse:hover	{ background-color:#E2EFFF; border-bottom:1px solid #329ECC;}

.mitraisi{padding:5px;}
.mitraisi .image{
	background-color: #fff;
	padding: 2px;
	margin: 5px 10px 10px 0px;
	float: left;
}

.bor 			{ border-top:1px dotted #e0cb91; padding: 0 20px 0 20px;margin-top:5px;}

#kategoriRubrik { margin:16px 0px 0px 5px;	float:left;	width:650px;}
#kategoriRubrik ol li { font-weight:normal; display:block; margin:0px 4px 6px -32px; color:#333; text-transform:capitalize;}
#kategoriRubrik .jam {	color:#599b9b; padding-right:8px; font-size:11px;}
#kategoriRubrik ul li { font-weight:normal; list-style:url(../images/dunia/bullet_arrow.gif) outside;	margin:0px 4px 6px -13px; color:#333; text-transform:capitalize;}
#kategoriTitle { text-transform:uppercase;	color:#000000 /* #9e2b0c */; font-weight:bold; font-size:16px; font-family:"helvetica",arial,verdana,sans-serif; padding: 0px 0px 0px 0px; border-bottom:1px solid #000000 /* #9e2b0c */; letter-spacing:-0.02em; height:22px;}

.kategoriisi{padding:10px;}
.kategoriisi h2{
	font-size:1em;
	text-align:left;
	font-weight: bold;
	color: #004276;
	line-height:1.25em;
}
.kategoriisi p{
	font-size: 0.885em;
	line-height: 1.5em;
	padding-bottom:5px;
}
.kategoriisi .imagekategori{
	background-color: #fff;
	padding:2px;
	margin: 5px 5px 5px 0px;
	border: 1px solid #e4d09b;
	float: left;
}
.kategoriisi .tanggalterbit{
	font-family: arial,helvetica,sans-serif;
	color: #808080;
	font-size: 0.625em;
	line-height: 1.25em;
	padding-top:3px;
	padding-bottom:5px;
}
.kategoriisi a {padding:0; text-decoration:none;font-size:12px;}
.kategoriisi a:hover {text-decoration:underline;color: #B79C00;}

.hfoto{width:394px;height:115px;float:left;display:inline}

.cliniccontent{
font-family:arial,helvetica,clean,sans-serif;
font-size:13px;
padding-bottom:10px;
}

#top-bar {

	z-index: 99999;

	position: fixed;

	margin: 0;

	padding: 0;

	height: 35px;

	width: 100%;

	border-bottom: solid 1px #DDDDDD;

	font: 12px "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana;

	background: #282828 repeat-x left top;

	top: 0;
	left:0;

}

#top-bar a, #top-bar a:visited {

	margin: -2px 0 0 0;

	padding: 0 0 0 15px;

	float: left;

	color: #fff;

	display: block;

	text-decoration: none;
}
#top-bar a:hover {

	margin: -2px 0 0 0;

	padding: 0 0 0 15px;

	float: left;

	color: #fff;

	display: block;

	text-decoration: underline;
}
#top-bar .social_icon {
	float: right;
	font-weight: bold;
	color: white;
}
#top-bar .social_icon span {
	float: left;
}
#top-bar .social_icon a {
		padding: 3px 0 0 5px;
		float: left;
		display: block;
}

.top-search input
{
	border:1px solid #5D9ADF;
	color:#666;
	line-height:18px;
	margin:5px 0 0;
	padding:4px 24px 4px 4px;
	vertical-align:middle;
	width:202px;
	background:#fff url("./images/search.gif") no-repeat 99% 56%;
	-moz-box-shadow:0 0;
	-webkit-box-shadow:0 0;
	box-shadow:0 0;

}
.top-search input:focus {
	border:1px solid #266DBB;
	-webkit-focus-ring-color: none;
}

#home-banner-background{
    position: relative;
    z-index: 1;

}
#home-banner-image {
    position: absolute;
    z-index: 1;
	left: 508px;
	top: 60px;
}















#featured{ 
	width:230px; 
	padding-right:250px; 
	position:relative; 
	border:5px solid #ccc; 
	height:250px; 
	background:#fff;
}
#featured ul.ui-tabs-nav{ 
	position:absolute; 
	top:0; left:370px; 
	list-style:none; 
	padding:0; margin:0; 
	width:107px; 
}
#featured ul.ui-tabs-nav li{ 
	padding:1px 0; padding-left:13px;  
	font-size:12px; 
	color:#666; 
}
#featured ul.ui-tabs-nav li img{ 
	float:left; margin:2px 5px; 
	background:#fff; 
	padding:2px; 
	border:1px solid #eee;
}
#featured ul.ui-tabs-nav li span{ 
	font-size:11px; font-family:Verdana; 
	line-height:18px; 
}
#featured li.ui-tabs-nav-item a{ 
	display:block; 
	height:60px; 
	color:#333;  background:#fff; 
	line-height:20px;
}
#featured li.ui-tabs-nav-item a:hover{ 
	background:#f2f2f2; 
}
#featured li.ui-tabs-selected{ 
	background:url('../images/selected-item.gif') top left no-repeat;  
}
#featured ul.ui-tabs-nav li.ui-tabs-selected a{ 
	background:#ccc; 
}
#featured .ui-tabs-panel{ 
	height:250px; 
	background:#fff; position:relative;
}
#featured .ui-tabs-panel .info{ 
	position:absolute; 
	top:180px; left:0; 
	height:70px; 
	width:370px;
	background: url('../images/transparent-bg.png'); 
}
#featured .info h2{ 
	font-size:14px; font-family:Georgia, serif; 
	color:#fff; padding:5px; margin:0;
	overflow:hidden; 
}
#featured .info p{ 
	margin:0 5px; 
	font-family:Verdana; font-size:11px; 
	line-height:15px; color:#f0f0f0;
}
#featured .info a{ 
	text-decoration:none; 
	color:#fff; 
}
#featured .info a:hover{ 
	text-decoration:underline; 
}
#featured .ui-tabs-hide{ 
	display:none; 
}



ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px; /*--Set height of tabs--*/
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 31px; /*--Vertically aligns the text within the tab--*/
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	background: #e0e0e0;
}
ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 100%;
	padding: 0 10px;
	border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
	outline: none;
}
ul.tabs li a:hover {
	background: #ccc;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
	background: #fff;
	border-bottom: 1px solid #fff; /*--Makes the active tab look like it's connected with its content--*/
}

.tab_container {
	border: 1px solid #999;
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left; width: 100%;
	background: #fff;
}
.tab_content {
	padding: 5px;
	font-size: 100%;
}